.site-title {
  gap: 0.8rem;
  font-size: 1.2rem;
}
.site-title > img {
  height: 2rem;
  transition: all 0.3s ease;
}
.site-title:hover > img {
  transform: scale(1.1);
}
.site-title span {
  font-weight: bold;
}

html[data-theme='dark'] .site-title span {
  color: #f0f0f0;
}
html[data-theme='light'] .site-title span {
  color: #1a1a1a;
}
