.site-title {
  gap: 0.8rem;
  font-size: 1.2rem;
}
.site-title > img {
  height: 2rem;
  transition: all 0.3s ease;
}
.site-title:hover > img {
  transform: scale(1.1);
}
.site-title span {
  font-weight: bold;
  color: white;
}
