---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/sections/Hero.astro"
import Features from "../components/sections/Features.astro"
import UseCases from "../components/sections/UseCases.astro"
import CTA from "../components/sections/CTA.astro"
---

<BaseLayout>
  <div class="relative">
    <Hero />
    <Features />
    <UseCases />
    <CTA />
  </div>
</BaseLayout>
